/* Estilos generales */
body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: gray;
}

/* Contenedor principal del blog */
.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: paleturquoise;
    border: 15px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 30px;
    box-sizing: border-box;
}

/* Contenido principal */
.blog-content {
    line-height: 1.8;
    color: #444444;
    font-size: 1.1em;
}



@media (max-width: 768px) {
    .blog-container {
        margin: 10px;
        padding: 20px;
        border-width: 10px;
    }    
    .blog-content {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }
    
    .blog-container {
        padding: 15px;
        border-width: 8px;
    }
}
/*
boton extraido de https://getcssscan.com/css-buttons-examples
*/
.button {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover,
  .button:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button:active {
    background: var(--color);
    color: #fff;
  }

